@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    font-family: 'Montserrat',sans-serif;
    background: #171115;
    color: #fff;
}
body::before,body::after{
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    width: 15rem;
    aspect-ratio: 1/1;
    filter: blur(50px);
    background: #650859;
}
body::before{
    top: -5rem;left: -5rem;
}
body::after{
    top: unset;left: unset;
    bottom: -5rem;right: -5rem;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 1rem;
    padding-inline: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
header img{
    width: 5rem;
}
header nav {
    display: flex;
    gap: .5rem;
    justify-content: space-between;
    align-items: center;
}
header nav a {
    text-decoration: none;
    color: inherit;
    font-size: .9rem;
    text-transform: capitalize;
    border-radius: 100vw;
    padding: .5rem 1rem;
    transition: .3s ease;
}
header nav a:hover ,.active{
    background: #7522a2;
}
.mainimg{
    position: absolute;
    width: 37rem;
    bottom: 0;
    right: 3rem;
}
.dots{
    position: absolute;
    top: 0;
    right: 0;
    width: 8rem;
}
.leftdots{
    top: unset;
    right: unset;
    bottom: 0;
    left: 0;
}
.side{
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.side p {
    transform: rotate(90deg);
    margin-block: 2rem;
}
.arrow{
    width: 2rem;
    animation: updown .5s linear infinite alternate;
}
@keyframes updown {
    100%{transform: translateY(2rem);}
}
.socialicon{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.socialicon ion-icon{
    background: #fff;
    color: #650859;
    padding: .3rem;
    font-size: 1.2rem;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s ease;
}
.socialicon ion-icon:hover{
    background: #650859;
    color: #fff;
}
section{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
}
section .content{
    padding-left: 10%;
}
section .content h1 {
    font-size: 5rem;
    text-transform: uppercase;
    position: relative;
}
section .content h1:before,section .content h1::after{
    content: '';
    position: absolute;
    background: url('./images/rounded-star.png') center center / cover;
    width: 3rem;aspect-ratio: 1/1;
    top: -2rem;
}
section .content h1::after{
    top: unset;bottom: -2rem;
}
.buttonholder{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.buttonholder button{
    background: transparent;
    color: #fff;
    border-radius: 100vw;
    border: 2px solid #7522a2;
    padding: .5rem 1.5rem;
    cursor: pointer;
    transition: .3s ease;
}
.buttonholder button:hover{
    background: #7522a2;
}
section .content p{
    font-size: .8rem;
    width: 70%;
}